body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    margin-top: 8%;
}

.hero-content {
    padding: 0;
    margin: 0;
    margin-top: -150px;
    margin-left: 3%;
}
.hero-content h1{
    color: rgb(0, 98, 255);
}
.hero-content h2{
    color: rgb(255, 47, 0);
    margin-top: -15px;
    margin-bottom: 5%;
}

.hero-image img {
    max-width: 100%;
}

.products {
    padding: 20px;
    text-align: center;
    align-items: center;
    margin-left: 5%;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in;
    width: 30%;
    height: auto;
    align-items: center;
    text-align: center;
}

.product img {
    width: 35%;
    height: auto;
    align-items: center;
}

.product h3 {
    margin: 10px 0;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}
.butt a {
    text-decoration: none;
    color: blue;
    align-items: center;
}
.butt{
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    align-items: center;
    text-align: center;
    margin-left: 0%;
}
 a{
    color: whitesmoke;
    align-items: center;
}

